/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-oci.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/oci.autogen.att.gz
/oci.autogen.bin
/oci.automorf.att.gz
/oci.automorf.bin
/oci.autopgen.bin
/oci_gascon.autopgen.bin
/oci.prefs.rlx.bin
/oci_gascon.prefs.rlx.bin
/oci.rlx.bin
/oci.zhfst
/*.hfst
/.DS_Store
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
