/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-oci.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/oci.autogen.att.gz
/oci.autogen.bin
/oci.automorf.att.gz
/oci.automorf.bin
/oci.autopgen.bin
/oci.rlx.bin
/oci.zhfst
/oci@aran.autogen.att.gz
/oci@aran.autogen.bin
/oci@aran.automorf.att.gz
/oci@aran.automorf.bin
/oci@aran.autopgen.bin
/oci@gascon.autogen.att.gz
/oci@gascon.autogen.bin
/oci@gascon.automorf.att.gz
/oci@gascon.automorf.bin
/oci@gascon.autopgen.bin
/*.hfst
/.DS_Store
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
